/*Background */
body
{
	background: url("src/orgrimmar2.jpeg") no-repeat;
	background-size: 100%;
}

/*  Police   */
@font-face
{
	font-family: 'LifeCraft_Font';
	src: url('font/LifeCraft_Font.ttf') format('opentype');
}

/* LOGO */
.logo
{
	width: 100px;
	float:left;
}

.logo img
{
	margin: 15px 15px 15px 20px;
	width: 150px;
	height: auto;
}
/* le conteneur qui contient les deux contenus */
#conteneurtotal{
	display: flex;
	flex-direction: column;
}

/* Flex box contenu1 */
#conteneur
{
	display: flex;
	flex-direction: column;

}
.fond
{
	width: 50%;
	height: 12%;
	border-radius: 10px;
	background: rgba(179,179,179,0.5);
	margin: 25px auto;
}

h1
{
	font-family: 'LifeCraft_Font';
	text-align: center;
	color: #ca3b3b;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
}

p{
	margin: 0;
}

/* les nouvelles du site */

.News{
	margin: 25px auto;
}

#navigation {
	background: rgba(179,179,179,0.5);
	border-radius: 10px;
	max-width: 300px;
	height: auto;
}

.News li {
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	padding: 10px;
}

.News ul {
	list-style: none;
	padding: 10px;
	border: 2px solid #4e4647;
}

.News a {
	text-decoration: none;
	color: white;
	padding: 12px 100px 12px 100px;
}

.News a:hover {
	background: rgba(179,179,179,0.2);
}

/* Navbar */

#navigation2 {
	background: rgba(179,179,179,0.5);
	border-radius: 10px;
	max-width: 300px;
	height: auto;
}

.objectifs li {
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px;
}

.objectifs ul {
	list-style: none;
	padding: 10px;
	border: 2px solid #4e4647;
}

.objectifs a {
	text-decoration: none;
	color: white;
	padding: 12px 70px 12px 70px;
}

.objectifs a:hover {
	background: rgba(179,179,179,0.2);
}

/* Présentation */

.presentation {
	margin-top: 50px;
	font-family: 'LifeCraft_Font';
	color: white;

}
/*Flex box contenu2 */

#conteneur2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px 70px 30px 0;
}

/* les objectifs de la guilde */

.objectifs{
	border-radius: 10px;
	margin: 25px auto;
	max-width: 300px;
	height: auto;
}
