/*Background */
body
{
	background: url("src/orgrimmar2.jpeg") no-repeat;
	background-size: 100%;
}

.fond
{
	width: 50%;
	height: 10%;
	border-radius: 10px;
	background: rgba(179,179,179,0.5);
	margin: 25px auto;
}

/*  Police   */ 
@font-face
{
	font-family: 'LifeCraft_Font';
	src: url('font/LifeCraft_Font.ttf') format('opentype');

}

/* LOGO */
.logo
{
	width: 100px;
	float:left;
}

.logo img
{
	margin: 15px 15px 15px 20px;
	width: 150px;
	height: auto;
}

/* Flex box */
#conteneur
{
	display: flex;
	flex-direction: column;
}

h1
{
	font-family: 'LifeCraft_Font';
	text-align: center;
	color: #ca3b3b;
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
}

/* Présenation */

.presentation {
	margin-top: 50px;
	font-family: 'LifeCraft_Font';
	color: white;
}